body { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
}
h2{
    color: #000000;
}
.container {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 520;
    
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
nav a {
    text-decoration: none;
    color: #333;
}

.buttons {
    display: flex;
    gap: 20px;

}
.buttons a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.login{
    border: 1px solid #333;
    color: #333;
}
.register{
    background-color: #D94645;
    color: white;
}
.shporta{
    width: 20px;
    height: 20px;
    align-self: center;
}

.main{
    display: flex;
    padding: 50px 0;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
    margin-left: 45px;
    margin-top: 20px;
}
.text{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}
.text a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #333;
    margin-top: 10px;
}
.main-buttons{
   margin-top: 30px;
}
.get-started{
    background-color: #D94645;
    color: white !important;
}
.main-images img{
   justify-self: end;
}


.features {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;  
    margin-top: 50px;
}

.features h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.feature-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-card {
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 220px;
    text-align: center;
}

.feature-card img {
    max-width: 50px;
    margin-bottom: 10px;
}

.feature-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.feature-card p {
    font-size: 14px;
    color: #666;
}

.about {
    
    padding: 40px 20px;
    
    margin-top: 130px;
}

.about-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
}

.about-image img {
    max-width: 100%;
    border-radius: 10px;
}
img{
    -webkit-user-drag: none;
}

.about-text {
  
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    
   

    

}

.about-text h2 {
    font-size: 35px;
    text-align: left;
    margin-bottom: 20px;
    margin-right: 150px;
}

.about-text p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
}

.about-text .get-started {
    background-color: #D94645;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    justify-self: end;
    width: 100px;
}


.passionate-language{
    margin-bottom: 100px;
    margin-top: 150px;
    background: rgba(217,70,69,0.07 );
    padding: 20px;
    border-radius: 30px;
}
.passionate-h2{
   font-size: smaller;
}

.passionate-language-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-items: center;
    
}
.passionate-steps{
    display: flex;
    flex-direction: column;
    max-width:450px;
    text-align: center;
    
}
.step{
    text-align: left;
    margin-left: 70px;
}
.step span{
    color: #D94645;
    font-size: larger;
}

.passionate-image img{
   max-width: 100%;
   margin-top: 50px;
}



.services-access {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

.services-access h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.services-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service-card {
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 220px;
    height: 170px;
    text-align: center;
    
}

.service-card img {
   
    margin-bottom: 10px;
    max-width: 50px;
    
}
#teachers-image{
    max-width: 35px;
    max-height: 35px;
}

.service-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 14px;
    color: #666;
}
.collaborators{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.collaborators h2{
    max-width: 500px;
   
}
.collaborators img{
    max-width: 617px;
}
.testimonial {
    background-color: #202020;
    color: #fff;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.testimonial-container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.testimonial-image img {
    max-width: 300px;
    border-radius: 10px;
}

.testimonial-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    max-width: 700px;
}

.testimonial-text p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

.testimonial-text p span {
    font-size: 16px;
    font-weight: bold;
}
#text{
    margin-bottom: 120px;
}


.footer-top{
    border-bottom: 1px solid #333;    
    padding: 40px;
}
.footer-top h3{
    max-width: 400px;
    margin-left: 20px;
}





.footer {
    background-color: #1c1c1c;
    color: #fff;
    padding: 40px 20px;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 270px;
    margin-top: 30px;
}

.footer-logo {
    max-width: 300px;
    margin-left: 50px;
}
.imglogo{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-items: center;
}
.footer-logo img{
    max-width: 30px;
    max-height: 30px;
}

.footer-logo h2 {
    font-size: 20px;
    margin-bottom: 17px;
    color: #fff;
}

.footer-logo p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #858585;
}

.newsletter {
    display: flex;
    gap: 10px;
    align-items: center;
}

.newsletter label {
    display: none;
}

.newsletter input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    flex: 1;
}

.newsletter button {
    background-color: #e74c3c;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.footer-links {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link-section {
    max-width: 150px;
}

.link-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.link-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-section ul li {
    margin-bottom: 10px;
    
}

.link-section ul li a {
    color: #858585;
    text-decoration: none;
    font-size: 14px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #333;
    padding-top: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.footer-bottom p {
    font-size: 12px;
    margin-left: 50px;
    color: #858585;

}

.footer-social-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 100px;
}

.footer-social-icons img {
    max-width: 30px;
    max-height: 30px;
    border-radius: 10px;
}



@media (max-width: 768px){
    .testimonial-container{
        width: 100%;
        flex-direction: column;
    }
    .collaborators img {
        width: 100%;
        height: 100%;
    }
    .main{
        width: 90%;
        flex-direction: column;
        margin-right: 100px;
    }
    .text{
        font-size: 16px;
        text-align: center;
        width: 100%;
        margin-right: 100px;
        
    }
    .main img{
        width: 70%;
    }
    .footer{
        width: 90%;
    }
    nav{
        display: none;
    }
    .buttons{
        display: none;
    }
    .logo{
       width: 100%;
       margin-left: 90px;
    }
    .logo p{
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration-line: underline;
    }
    .about-text{
        width: 100%;
    }
    .footer-container{
        gap: 80px;
    }
    .social{
        margin-right: 40px;
    }
    .passionate-steps{
        margin-right: 100px;
        width: 100%;
    }
    .step{
        width: 80%;
    }
    .container{
        width: 100%;
        background-color: rgb(165, 21, 21);
    }
    .container2{
        display: none;
    }
   
}


